<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>Logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListSalAll</servlet-name>
        <servlet-class>ListSalAll</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListSalDate</servlet-name>
        <servlet-class>ListSalDate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListSalCli</servlet-name>
        <servlet-class>ListSalCli</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>searchSales</servlet-name>
        <servlet-class>searchSales</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>searchAdvSales</servlet-name>
        <servlet-class>searchAdvSales</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>advsearchSales</servlet-name>
        <servlet-class>advsearchSales</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListSalApro</servlet-name>
        <servlet-class>ListSalApro</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListSalCancel</servlet-name>
        <servlet-class>ListSalCancel</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>aproSal</servlet-name>
        <servlet-class>aproSal</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>cancelSal</servlet-name>
        <servlet-class>cancelSal</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>modSal</servlet-name>
        <servlet-class>modSal</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>modificarSal</servlet-name>
        <servlet-class>modificarSal</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListSalProd</servlet-name>
        <servlet-class>ListSalProd</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListSalAll</servlet-name>
        <url-pattern>/ListSalAll</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListSalDate</servlet-name>
        <url-pattern>/ListSalDate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListSalCli</servlet-name>
        <url-pattern>/ListSalCli</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>searchSales</servlet-name>
        <url-pattern>/searchSales</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>searchAdvSales</servlet-name>
        <url-pattern>/searchAdvSales</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>advsearchSales</servlet-name>
        <url-pattern>/advsearchSales</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListSalApro</servlet-name>
        <url-pattern>/ListSalApro</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListSalCancel</servlet-name>
        <url-pattern>/ListSalCancel</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>aproSal</servlet-name>
        <url-pattern>/aproSal</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>cancelSal</servlet-name>
        <url-pattern>/cancelSal</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>modSal</servlet-name>
        <url-pattern>/modSal</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>modificarSal</servlet-name>
        <url-pattern>/modificarSal</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListSalProd</servlet-name>
        <url-pattern>/ListSalProd</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            60
        </session-timeout>
    </session-config>
    <context-param>
        <description> AD Base de Datos </description>
        <param-name> bdAdm </param-name>
        <param-value>root/Base9817+=</param-value>
    </context-param>
    <context-param>
        <description> Host Base de Datos </description>
        <param-name> bdHost </param-name>
        <param-value>localhost</param-value>
    </context-param>
    <context-param>
        <description> Nombre Base de Datos </description>
        <param-name>bdNom</param-name>
        <param-value>esolsa</param-value>
    </context-param>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
