<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>Logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListSalAll</servlet-name>
        <servlet-class>ListSalAll</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListSalDate</servlet-name>
        <servlet-class>ListSalDate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListSalCli</servlet-name>
        <servlet-class>ListSalCli</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>searchSales</servlet-name>
        <servlet-class>searchSales</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>searchAdvSales</servlet-name>
        <servlet-class>searchAdvSales</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>advsearchSales</servlet-name>
        <servlet-class>advsearchSales</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListSalApro</servlet-name>
        <servlet-class>ListSalApro</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListSalCancel</servlet-name>
        <servlet-class>ListSalCancel</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>aproSal</servlet-name>
        <servlet-class>aproSal</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>cancelSal</servlet-name>
        <servlet-class>cancelSal</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>modSal</servlet-name>
        <servlet-class>modSal</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>modificarSal</servlet-name>
        <servlet-class>modificarSal</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListSalProd</servlet-name>
        <servlet-class>ListSalProd</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListSalMade</servlet-name>
        <servlet-class>ListSalMade</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListToReceive</servlet-name>
        <servlet-class>ListToReceive</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListToApprove</servlet-name>
        <servlet-class>ListToApprove</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>aprobarSal</servlet-name>
        <servlet-class>aprobarSal</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>rechazarSal</servlet-name>
        <servlet-class>rechazarSal</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>cancelSalAlm</servlet-name>
        <servlet-class>cancelSalAlm</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListOrdDate</servlet-name>
        <servlet-class>ListOrdDate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>enviarSalAlm</servlet-name>
        <servlet-class>enviarSalAlm</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>recibirSal</servlet-name>
        <servlet-class>recibirSal</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListOrdCli</servlet-name>
        <servlet-class>ListOrdCli</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListOrdProd</servlet-name>
        <servlet-class>ListOrdProd</servlet-class>
    </servlet>
     <servlet>
        <servlet-name>BuscaCatalogo</servlet-name>
        <servlet-class>BuscaCatalogo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreaCatalogo</servlet-name>
        <servlet-class>CreaCatalogo</servlet-class>
    </servlet>    
    <servlet>
        <servlet-name>MuestraCatalogo</servlet-name>
        <servlet-class>MuestraCatalogo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BuscaCliente</servlet-name>
        <servlet-class>BuscaCliente</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreaCliente</servlet-name>
        <servlet-class>CreaCliente</servlet-class>
    </servlet>      
    <servlet>
        <servlet-name>MuestraCliente</servlet-name>
        <servlet-class>MuestraCliente</servlet-class>
    </servlet>    
    <servlet>
        <servlet-name>BorraCliente</servlet-name>
        <servlet-class>BorraCliente</servlet-class>
    </servlet>
    <servlet>
         <servlet-name>BorraCatalogo</servlet-name>
         <servlet-class>BorraCatalogo</servlet-class>
    </servlet>
    <servlet>
         <servlet-name>ModificaCatalogo</servlet-name>
         <servlet-class>ModificaCatalogo</servlet-class>
    </servlet>
    <servlet>
         <servlet-name>QuitaProducto</servlet-name>
         <servlet-class>QuitaProducto</servlet-class>
    </servlet>
    <servlet>
         <servlet-name>AsignaProducto</servlet-name>
         <servlet-class>AsignaProducto</servlet-class>
    </servlet>
    <servlet>
         <servlet-name>CambiaCatalogo</servlet-name>
         <servlet-class>CambiaCatalogo</servlet-class>
    </servlet>
    <servlet>
         <servlet-name>ModificaCliente</servlet-name>
         <servlet-class>ModificaCliente</servlet-class>
    </servlet>
    <servlet>
         <servlet-name>QuitaCatalogo</servlet-name>
         <servlet-class>QuitaCatalogo</servlet-class>
    </servlet>    
    <servlet>
         <servlet-name>AsignaCatalogo</servlet-name>
         <servlet-class>AsignaCatalogo</servlet-class>
    </servlet>    
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListSalAll</servlet-name>
        <url-pattern>/ListSalAll</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListSalDate</servlet-name>
        <url-pattern>/ListSalDate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListSalCli</servlet-name>
        <url-pattern>/ListSalCli</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>searchSales</servlet-name>
        <url-pattern>/searchSales</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>searchAdvSales</servlet-name>
        <url-pattern>/searchAdvSales</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>advsearchSales</servlet-name>
        <url-pattern>/advsearchSales</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListSalApro</servlet-name>
        <url-pattern>/ListSalApro</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListSalCancel</servlet-name>
        <url-pattern>/ListSalCancel</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>aproSal</servlet-name>
        <url-pattern>/aproSal</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>cancelSal</servlet-name>
        <url-pattern>/cancelSal</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>modSal</servlet-name>
        <url-pattern>/modSal</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>modificarSal</servlet-name>
        <url-pattern>/modificarSal</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListSalProd</servlet-name>
        <url-pattern>/ListSalProd</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListSalMade</servlet-name>
        <url-pattern>/ListSalMade</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListToReceive</servlet-name>
        <url-pattern>/ListToReceive</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListToApprove</servlet-name>
        <url-pattern>/ListToApprove</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>aprobarSal</servlet-name>
        <url-pattern>/aprobarSal</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>rechazarSal</servlet-name>
        <url-pattern>/rechazarSal</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>cancelSalAlm</servlet-name>
        <url-pattern>/cancelSalAlm</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListOrdDate</servlet-name>
        <url-pattern>/ListOrdDate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>enviarSalAlm</servlet-name>
        <url-pattern>/enviarSalAlm</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>recibirSal</servlet-name>
        <url-pattern>/recibirSal</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListOrdCli</servlet-name>
        <url-pattern>/ListOrdCli</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListOrdProd</servlet-name>
        <url-pattern>/ListOrdProd</url-pattern>
    </servlet-mapping>
     <servlet-mapping>
        <servlet-name>BuscaCatalogo</servlet-name>
        <url-pattern>/SearchCatalogue</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreaCatalogo</servlet-name>
        <url-pattern>/CrearCat</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MuestraCatalogo</servlet-name>
        <url-pattern>/DisplayCatalogue</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BuscaCliente</servlet-name>
        <url-pattern>/SearchClient</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreaCliente</servlet-name>
        <url-pattern>/CrearCli</url-pattern>
    </servlet-mapping>     
    <servlet-mapping>
        <servlet-name>MuestraCliente</servlet-name>
        <url-pattern>/DisplayClient</url-pattern>
    </servlet-mapping>    
    <servlet-mapping>
        <servlet-name>BorraCliente</servlet-name>
        <url-pattern>/delCli</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BorraCatalogo</servlet-name>
        <url-pattern>/delCat</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ModificaCatalogo</servlet-name>
        <url-pattern>/modCat</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>QuitaProducto</servlet-name>
        <url-pattern>/noProd</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AsignaProducto</servlet-name>
        <url-pattern>/addProd</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CambiaCatalogo</servlet-name>
        <url-pattern>/camCat</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ModificaCliente</servlet-name>
        <url-pattern>/modCli</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>QuitaCatalogo</servlet-name>
        <url-pattern>/noCata</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AsignaCatalogo</servlet-name>
        <url-pattern>/addCata</url-pattern>
    </servlet-mapping>    
    <session-config>
        <session-timeout>
            60
        </session-timeout>
    </session-config>
    <context-param>
        <description> AD Base de Datos </description>
        <param-name> bdAdm </param-name>
        <param-value>solsa/esolsa</param-value>
    </context-param>
    <context-param>
        <description> Host Base de Datos </description>
        <param-name> bdHost </param-name>
        <param-value>localhost</param-value>
    </context-param>
    <context-param>
        <description> Nombre Base de Datos </description>
        <param-name>bdNom</param-name>
        <param-value>esolsa</param-value>
    </context-param>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
